/* Footer Início*/
      footer {
        width: 100%!important;
        background-color: rgb(76, 76, 76);
        height: 200px;
        margin: 0!important;
        padding: 0!important;
        border-bottom: solid #FDD16E 2px;
      }

      footer div.mb-3{
        margin-top: 25px;
        width: 130px;
        height: 68px;
      }

      footer div.mb-2{
        margin-top: 50px;
        width: 200px;
      }

      footer div.mb-2:nth-child(2){
        margin-top: 52px;
        width: 300px;
      }

      footer div.mb-2:nth-child(3){
        width: 220px;
      }

      footer div.mb-2:nth-child(4){
        width: 200px;
      }

      footer div.mb-2:nth-child(5){
        width: 360px;
      }

      footer h2{
        color: #fff;
        font-family: 'Roboto', arial, sans-serif;
        font-size: 20px;
      }

      footer p{
        font-family: Arial, Helvetica, sans-serif;
        color: #f1d080;
        font-size: 15px;
        margin-bottom: 0px;
      }

      .address{
        margin-top: -48px!important;
        margin-bottom: -48px!important;
        padding: 18px!important;
        height: 68px;
        text-align: center;
        background-color: rgb(42, 42, 42);
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
      }

      .logo-rodape{
        margin-top: 50px;
      }
/* Footer Fim*/

/* Footer-Redes sociais Início*/

.redes ul {
    display: flex;
    text-align: center;
    padding: 0!important;
}

.redes ul li {
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #2A2A2A;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
}

.redes ul li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    /* background: #d35400; */
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
}

.redes ul li:nth-child(1):before {
    background: #e4a803;
}

.redes ul li:nth-child(2):before {
    background: #e4a803;
}

.redes ul li:nth-child(3):before {
    background: #e4a803;
}

.redes ul li:nth-child(4):before {
    background: #e4a803;
}

.redes ul li:nth-child(5):before {
    background: #e4a803;
}

.redes ul li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
}

.redes ul li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(3):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(4):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(5):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(1):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(2):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(3):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(4):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(5):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}
/* Footer-Redes sociais Fim*/
